<% if can? :update, Job %>
<% unless @inactive_jobs.empty? %>
  <div class="panel callout radius">
    <h3>Inactive Jobs</h3>
    <ul>
      <% @inactive_jobs.each do |job| %>
        <li><%= link_to job.name, job %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% end %>