<div class="row">
	<div class="small-7 columns">
		<h2>Contact A&M</h2>
		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Bernard Decelian</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("bdecelia@cmu.edu", "bdecelia@cmu.edu", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>718-938-1543</td>
			</tr>
		</table>

		<p class="note"><br>I am a student of information systems at Carnegie Mellon University and this is a project for it.></p>
			
			<p>&nbsp;</p>
			<p>&nbsp;</p>
	</div>
</div>