<% if @upcoming_shifts.nil? or @upcoming_shifts.empty? %>
  <p><em>There are no upcoming shifts at this time.</em></p>
<% else %>
  <%= render partial: "shift_list", locals: {shifts: @current_shifts, state: 'upcoming'} %>
<% end %>